!!! 5
html
  head
    title= 'Lunchgroup Safeword'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
  body
	#container
	  != body
	script(type='text/javascript', src='/javascripts/application.js')